html, body {
    min-height: 100%;
    height: fit-content;
    margin: 0;
}

#headerPrincipal {
    position: sticky;
    top: 20px;
}
h3{
    margin: 0;
}
.tituloH {
    background-color: #0A91AB;
    justify-content: center;
    align-items: center;
    height: 20%;
    margin-top: 0%;
}
.tituloMando {
    padding: 1%;
}

#menuDiv {
    margin-top: 3%;
    height: 100%;
    display: flex;
    background-color: #FFC045;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}
nav a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.headerColor {
    color: #0A91AB;
}
.center {
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}
  
.textoConLogo {
    text-align: center;
    justify-content: center;
}
#imagenMandito{
    width: 5%;
}
.textoEncimaLogo{
    margin-top: 5%;
}
#videojuegosHeader {
    margin-left: 1%;
    color: #0A91AB;
}
#Videojuegos {
    width: 99%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-left: 1%;
    justify-content: space-evenly;
}

.cadaJuego {
    display: flex;
    flex-direction: column;
    border: 3px solid #FFC045;
    border-style: dashed;
    width: 30%;
    height: 54vh;
    margin: 1%;
    border-radius: 5px;
    position: relative;
}

.cadaJuego article {
    display: flex;
    flex-direction: column;
    height: 100;

}

.textoCadaJuego {
    margin-left: 2%;
}
.headerImageContainer {
    width: 100%;
    height: 65%;
}

.imageHeader {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: fill;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.masInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1%;
    right: 1%;
    padding: 2%;
    background-color: #FFC045;

}
div aside h3 {
    color: #FFC045
}

#asideTrucos {
    background-color: #0A90AB25;
    margin-left: 1%;
    width: 30%;
    height: 100vh;
    text-align: center;
    border-radius: 5%;
    border: 2px solid #8A8070;
    border-style: dotted;
}
  
.NoticiasTrucos {
    margin-top: 2%;
    display: flex;
    height: 100%;
}
#Noticias {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.NoticiasHeader {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}
.cadaNoticia {
    width: 46%;
    height: 41%;
    border: 3px solid #0A91AB;
    border-radius: 1%;
    margin-top: 2%;
    margin-left: 2%;
    display: flex;
}
.articleNewsDimensions{
    width: 100%;
    height: 100%;
    display: table-column;
}
.fecha{
    font-size: small;
    font-weight: bold;
    margin: 1%;
}
.noticiasHr {
    border: 3px solid #FFC045;
    margin-left: 0.5%;
    margin-right: 0.5%;
}
.tituloNoticias {
    text-align: center;
    color: #FFC045;
    font-size: x-large;
    margin: 1px;
}
.containerNoticias {
    width: 100%;
    height: 40%;
}
.containerImageNoticias {
    width: 100%;
    height: 59%;
    display: flex;
    position: relative;
}
.imageNoticias {
    width: 100%;
    object-fit: cover;
}
.top-right {
    position: absolute;
    padding: 1%;
    top: 2.5%;
    right: 1%;
    background-color: #FFC045;
}
  
#ranking {
    width: 100%;
    height: auto;
}

.rankingPhoto {
    border-radius: 50%;
    text-align: center;
}
.rankingImage {
    border-radius: 50%;
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    border: 3px solid #FFC045;
    margin: 5px; 
}
  
.rankingPositions {
    display: flex;
    justify-content: space-evenly;
}
footer {
    background-color: #8A8070;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}
  
.footer-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
  
.footer-top {
    display: flex;
    width: 50%;
    height: 70%;
}
  
.footer-address {
    text-align: right;
    width: 50%;
    height: 70%;
}
  
.footer-bottom {
    height: 30%;
    width: 100%;
    margin-top: -2%;
    text-align: center;
    vertical-align: bottom;
}